.card.mt-2
  .card-header
    .fa.fa-user
    %b= user.email
  .card-footer
    Signed up
    %b= time_ago_in_words(user.created_at)
    ago
  .card-footer
    .row
    %b= 'Last sign in'
    = format_date user.last_sign_in_at
    