- content_for :title do
  WeLearn
  \|
  All users

.text-center
  %h3 Users
  %br
= search_form_for @q do |f|
  = f.search_field :email_cont, placeholder: 'user email', class:"form-control-sm width-100%",style: 'width: 288px;' 
  = f.submit

.card-columns
  - @users.each do |user|
    = render 'users/user', user: user

        