.card
  .card-header
    %h3 
      .fas.fa-chalkboard
      Edit lesson
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', course_lesson_path(@course, @lesson)
    \|
    = link_to 'Back', :back
