- content_for :title do
  WeLearn
  \/
  Edit Course


.card
  .card-header
    %h3 
      .fa.fa-graduation-cap
      Edit course
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Back', @course
