%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        WeLearn Sp. z o.o.
        .row
        .fa.fa-code
        coded by Silvia Pintus
        .row
      .col-md-4
        Privacy Policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Create your course on WeLearn', new_course_path
  %br      